body {
  background-color: black;
}

h1 {
  color: #D9670E;
  text-align: center;
}

h1 img {
  width: 3em;
}

h2 {
  font-size: 50px;
  font-family: 'Bangers', cursive;;
  color: #D9670E;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-family: 'Bangers', cursive;;
  color: black;
  text-align: center;
  background-color: white;
  max-width: 125px;
  margin: auto;
  border: 1px solid gray;
}

.board {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  background-image: url('http://i.imgur.com/Mfor3p5.jpg');
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.cell {
  cursor: url('http://i.imgur.com/ygoFyB7.png'), pointer;
  font: 120px Comic, sans-serif;
  font-color: white;
  vertical-align: top;
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 2px solid green;
  background-color: black;
}

.newGame {
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size: 1.5em;
  margin: auto;
  font-family: 'Bangers', cursive;
}

.cell img {
  width: 95%;
}
