body {
  font-size: 10px;

  }]

.cell {
  border: red solid 1px;
  width: 10em;
  height: 10em;
}

h1 {
  text-align: center;
  color: orange;
}

.board {
  position: relative;
  margin 0 auto;
  text-align: center;
}

.column {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  width: 120px;
  height: 120px;
  font: 110px Arial, sans-serif;
  color: orange;
}

.row .column{

}

.column:last-child{
  border-right: 0;
}
.row:last-child>.col{
  border-bottom: 0;
}
